@model BookManager.Models.Book

@{
    ViewBag.Title = "Buy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p style="font-size: 24px">Bạn đã mua cuốn sách @Model.Title với giá @Model.Price VNĐ</p>

